<div class="d-flex justify-content-center">
    <div class="card rounded-xl ddropscolor m-2 col" >
        <div class=" justify-content-center d-flex  p-3">
            <div class=" d-flex flex-column nicegrey rounded-sm-px justify-content-center  p-3 m-3">
                <img class=" w-50 my-2 rounded d-flex mx-auto " src="https://storage.cloud.google.com/bitfit/images/9.png"
                    alt="Card image cap">
                    <h5 class="text-black justify-content-center d-flex">BitFitted #</h5>
                    <div class=" text-black justify-content-center d-flex  px-3">S</div>
            </div>
        </div>
    </div>
</div>
