<section class="vh-100 gradient-form gradient-custom-1">
    {{!-- <div class="container py-3 h-100"> --}}
        <div class="row d-flex justify-content-center align-items-center vh-100 ">
            <div class="col-xl-10">
                <div class="card rounded-4 p-0 text-white" style="background-color: #1d1b3d">
                    <div class="row vh-100">
                        <div class="col-lg-4">
                            <p>BITFIT is the cumulation of way too many hours of not blood, but probably sweat and tears.
                                <br> It is the product of 5 rookie developers who shouldn't be trusted anywhere near a computer, or a even toaster oven.
                                <br> For some insane reason, the internet has suffered the GitHomies to create an NFT generator.
                                <br> To the detriment of all mankind, BITFIT yields new NFTs every 24 hours.
                                <br> Throw out the Mona Lisa, cause we need to make room for all these NFTs.
                                <br> So buckle up, tie your shoes, and please keep your hands, arms, feet, and legs inside the vehicle at all times.
                                <br> Welcome to BITFIT
                                <br>
                            </p>
                        </div>
                        <div class="col-lg-8 d-flex align-items-center gradient-custom-2 ">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a company</h4>
                                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!--
    </div> --}}
</section>