<section class="vh-100 gradient-form gradient-custom-1">
    {{!-- <div class="container py-3 h-100"> --}}
        <div class="row d-flex justify-content-center align-items-center vh-100 ">
            <div class="col-xl-10">
                <div class="card rounded-4 p-0 text-white" style="background-color: #1d1b3d">
                    <div class="row vh-100">
                        <div class="col-lg-4 align-items-center" id="abouttext">
                            <p>BITFIT is the cumulation of way too many hours of not blood, but probably sweat and
                                tears.
                                It is the product of 5 rookie developers who shouldn't be trusted anywhere near a
                                computer, or a even toaster oven.
                                For some insane reason, the internet has suffered the GitHomies to create an NFT
                                generator.
                                To the detriment of all mankind, BITFIT yields new NFTs every 24 hours.
                                Throw out the Mona Lisa, cause we need to make room for all these NFTs.
                                So buckle up, tie your shoes, and please keep your hands, arms, feet, and legs inside
                                the vehicle at all times.
                                <br>
                                <br> Welcome to BITFIT
                            </p>
                        </div>
                        <div class="col-lg-8 d-flex align-items-center gradient-custom-2 ">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <img src="public/misimgs/bitmojigroup.png" alt="groupimage">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!--
    </div> --}}
</section>