<section style="d-flex align-items-center justify-content-center">

    <h1 id="mynfts">
        My NFTs
    </h1>
    <div class=" rounded container text-white  p-4 justify-content-center align-items-center gradient-custom-2 mb-5"
        style="max-width: 1198px; min-width:520px">
        <div class=" vw-50 d-flex flex-wrap justify-content-center ">
           
           {{#each nftsData }}
                            {{> dashboard-card}}
           {{/each}}
           
           
            
        </div>
    </div>

    <div id="secured" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">These are yours</h1>
            <h3 class="lead"> Secured by the almighty blockchain</h3>
        </div>
    </div>

</section>