<div class="container text-white rounded-lg mt-5 p-4 justify-content-center align-items-center gradient-custom-2" style="max-width: 1198px;">
    <div class="vw-50 d-flex flex-wrap justify-content-center">
        <div class="ms-3">
            <div class="mt-5 ">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2F4chanarchives.com%2Fboard%2Fco%2Fthread%2F81442594&psig=AOvVaw1beeQ8sVo5Ne9TzraF3wzk&ust=1645037623032000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIjQtOuwgvYCFQAAAAAdAAAAABAN"
                    id="nftImg" width="480" height="480">
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
        </div>

        <div class="d-flex ms-5 mt-5 flex-column" style="max-width: 480px">
            <p class="">back button</p>
            <div class="d-flex ">
                <p>LIKES SEEN</p>
            </div>
            <div class="d-flex ">
                <p>CHAIN</p>
            </div>
            <div class="d-flex ">
                <p>CREATOR/COLLECTION</p>
            </div>
            <div class="d-flex ">
                <h2>BITFITTED ##</h2>
            </div>
            <div class="" >
                <p>Unique, algorithmically generated BitFitted character chillin' on the blockchain.Unique, algorithmically generated BitFitted character chillin' on the blockchain.
                    
                </p>
            </div>

        </div>
    </div>


</div>