.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #26224f, #432e69, #7636dd, #5045b4);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #26224f, #432e69, #7636dd, #5045b4);
  }
 
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
.navbar{
    background-color: #26224f;
}

#carousel{
  margin: auto;
  width: 50%;
  border-radius: 25%;
  box-shadow: 5px 10px #ff1818;
  padding: 10px;
}

