.gradient-custom-2 {
    /* fallback for old browsers */
    background: #1d1b3d;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #26224f, #432e69, #5b379e, #7636dd );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #26224f, #432e69, #5b379e, #7636dd);
  }
  .gradient-custom-1 {
    /* fallback for old browsers */
    background: #1d1b3d;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #26224f, #432e69);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #26224f);
  }
 .nicegrey{
 background: #4c4c55;
 }
 .gradient-custom-3 {
  /* fallback for old browsers */
  background: #1d1b3d;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right,  	#4285F4, #DB4437, #F4B400, #0F9D58 );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, 	#4285F4, #DB4437, #F4B400, #0F9D58);
}
.textgrad{
 
  background: linear-gradient(to bottom, 	#4285F4, #DB4437, #F4B400, #0F9D58);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
  
 
}
.nicegrey{
background: #4c4c55;
}
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus {
    color: #802a96;
    text-decoration: underline;
}
input, textarea{
  background-color:#666;
  color: #FFF;
}
.pr-6{
  padding-right: 5rem !important;

#title{
color: white;
text-align: center;
padding-bottom: 50px;
}
#box{
padding-bottom: 50px;
}

#carousel{
  margin: auto;
  width: 80%;
  height:400px;
  border-radius: 25%;
  background-color: #26224f;
  box-shadow: 
  0 0 15px 5px #7636dd,
  0 0 30px 10px #5045b4,
  0 0 44px 20px #432e69;
  padding: 10px;
}

#dailydrops{
  text-align: center;
  color: white;
  padding-top: 50px;
  height:250px;
  background-image: linear-gradient(to right top, #7d071d, #852416, #8b390d, #8d4d04, #8d6000, #935a06, #98540f, #9d4e17, #9b2c32, #86144b, #5e195e, #1a2265);
}

#topoftop{
  background-color: #15132e;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#topnfts{
  text-align: center;
  padding: 10px;
}

#tpnftstitle{
  color: white;
  padding: 10px;
}

.row{
  padding: 10px;
}